version: "3.8"
services:
  tg-bot:
    build: .
    container_name: tg_bot
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - TZ=UTC
    networks:
      - tg-net
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
networks:
  tg-net:
    driver: bridge

